node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
temp
logs
uploads


# local env files
.env.*
.env*.local
.env
!.env.example

yarn.lock
.yarnrc.yml

.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*